<h2 class="h1 my-4">Login : </h2>
<P class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</P>
<form (ngSubmit)="handleLogin(loginForm)" [formGroup]="loginForm">

  <label for="email">Email</label>
  <input id="email" type="email" class="form-control  mb-3" formControlName="email">

  <label for="password">Password</label>
  <input id="password" type="password" class="form-control  mb-3" formControlName="password">

  <button type="submit" class="bg-main btn border-0 text-white">
    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
    <span *ngIf="!isLoading">Login</span>
  </button>

</form>
